{% extends 'base.html.twig' %}

{% block body %}

	<h1 class="text-center mt-3">Inscription</h1>
	<br>

<div class="text-center" style="margin: auto; max-width: 350px; border:5px solid #007BFF; padding: 30px; border-radius:10px;">

	{{ form_start(form) }}

	<div style="width:250px; margin: auto">
	{{ form_row(form.username, {'label': 'Pseudo'}) }}
	</div>

	<div style="width:250px; margin: auto">
	{{ form_row(form.email, {'label': 'Email'}) }}
	</div>

	<div style="width:250px; margin: auto">
	{{ form_row(form.password, {'label': 'Mot de passe'}) }}
	</div>

	<div style="width:250px; margin: auto">
	{{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe'}) }}
	</div>

	<button type="submit" class="btn btn-primary">Créer un compte</button>
	{{ form_row(form._token) }}
	
</div>

{% endblock %}