{% extends 'base.html.twig' %}

{% block body %}

	<h1 class="text-center mt-3">Ma page perso</h1>
    <br>
    <hr>
	<br>
<section class="container">
    <div class="row align-items-center">
        <div class="col-3 text-center">

	{% if user.avatar.name is defined %}
		<img class="avatar-md mb-3" src="../../avatars/{{user.avatar.name}}" alt="Avatar de {{ (user.fullName) ? (user.fullName) : (user.username) }}">
	{% else %}
		<img class="avatar-md mb-3" src="../../avatars/avatar-default.png" alt="Avatar de {{ user.username }}">
	{% endif %}


            <br>
            <span class="badge badge-primary">{{user.figures|length}} figure(s)</span>
        </div> 
        <div class="col-9">
            <h1>{{user.fullName}}</h1>
            {% if user is same as (app.user) %}
                <a href="{{ path('security_edit_profil') }}" class="btn btn-primary mr-2">Editer mon profil</a>
                <a href="{{ path('security_update_password') }}" class="btn btn-primary mr-2">Modifier mon mot de passe</a>
            {% endif %}
        </div>
    </div>
    <br>
    {{user.description|raw}}

    <hr>

    <h2>Vos figures</h2>

    {% if user.figures|length > 0 %}
    <div class="row">
        {% for figure in user.figures %}
            {% include 'tricks/_figure.html.twig' %}
        {% endfor %}
    </div>
    {% else %}
        <div class="alert alert-warning">
            <p><strong>{{user.fullName}}</strong> n'a pas encore publié de figure</p>
        </div>
    {% endif %}
</section>

{% endblock %}