{% extends 'base.html.twig' %}

{% block title %}Création d'une figure{% endblock %}

{% form_theme form _self %}

{% block body %}

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
	<h1>
		Création d'une figure
	</h1>
	
	{{ form_start(form) }}
	
	{{ form_row(form.title) }}
	{{ form_row(form.content) }}
	{{ form_row(form.category) }}

	<input type="submit" class="btn btn-success" value="Enregistrer">
	
	{{ form_end(form) }}

{% endblock %}

{% block _figure_visuals_widget %}
	<p>Ici, ajoutez vos visuals</p>

	{{ form_widget(form) }}

	<input type="hidden" id="widgets-counter" value="0">

	<div class="form-group">
		<button type="button" id="add-visual" class="btn btn-info">Ajouter une visual</button>
	</div>

{% endblock %}

{% block _figure_visuals_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _figure_visuals_entry_widget %}
	<div class="form-group" id="block_{{ id }}">
		<div class="row">
			<div class="col-2">
                {{ form_widget(form.visualKind) }}
            </div>
			<div class="col-9">
				<div class="row">
					<div class="col">
						{{ form_widget(form.url) }}
						{{ form_errors(form.url) }}

					</div>
					<div class="col">	
						{{ form_widget(form.caption) }}	
						{{ form_errors(form.caption) }}
					</div>
				</div>				
			</div>
			<div class="col-1">
				<button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready()
		{
			$('#add-visual').click(function()
			{
				//Je récupère le n° des futurs champs que je vaiscréés
				const index = +$('#widgets-counter').val();

				//Je récupère le prototype des entrées
				const tmpl = $('#figure_visuals').data('prototype').replace(/__name__/g, index);

				//J'injecte ce code au sein de la div
				$('#figure_visuals').append(tmpl);

				$('#widgets-counter').val(index + 1);

				//Je gère le bouton suppriomer
				handleDeleteButtons();
			});

			function handleDeleteButtons()
			{
				$('button[data-action="delete"]').click(function()
				{
					const target = this.dataset.target;
					$(target).remove();
				});
			}
			handleDeleteButtons();
		}
	</script>
{% endblock %}