{% extends 'base.html.twig' %}

{% block body %}

	<h1>
		{% if editMode %}
		Modification d'une figure
		{% else %}
		Création d'une figure
		{% endif %}
	</h1>
	
	{{ form_start(form) }}
	
	{{ form_row(form.title, {'attr': { 'placeholder': "Nom de la figure"}}) }}
	{{ form_row(form.content, {'attr': { 'placeholder': "Description de la figure"}}) }}
	{{ form_row(form.category, {'attr': { 'label': "Test"}}) }}
	{{ form_row(form.media) }}
	<input type="submit" class="btn btn-success" value="
			{% if editMode %}
				Modifier
			{% else %}
				Enregistrer
			{% endif %}
		">
	
	
	{{ form_end(form) }}


{% endblock %}