{% extends 'base.html.twig' %}

{% block title %}Salut!{% endblock %}


{% block img %} 
    <div style="position: relative; display: inline-block;">
            <img class="container-fluid"  style="padding: 0px" src="https://www.rei.com/content/dam/images/Expert%20Advice/Migration/HeroImages/Content_Team_082817_18850_Snowboards_Choose_lg.jpg">
            <p style="position: absolute; width: 100%; top: 30%; text-align: center; font-size: 60px; color: #007BFF; text-shadow: 2px 2px 1px #000000">Sur SnowTricks, partage tes tricks !!</p>
    </div>
{% endblock %}

{% block body %} 

    {% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

    <div style="display: flex; flex-wrap: wrap;">

    {% for figure in figures %}

        <div class="card" style="max-width:200px; flex-wrap: wrap; margin: 15px 10px 15px 10px;">
        <a href="{{ path('tricks_show', {'slug': figure.slug}) }}">
            <img class="card-img-top" src="{{ figure.headVisual }}" alt="Card image" style="width:198px; height:148px;">
        </a>
            <div class="card-body" style="height:40px; display:flex; flex-wrap: nowrap; justify-content:space-between; align-items:center;">
                <div class="row" style="line-height:20px; min-width:180px;">
                    <div class="col-8" style:"padding:0px; display:inline;">
                        <a href="{{ path('tricks_show', {'slug': figure.slug}) }}">
                            <h4 style="margin:0px; font-size:14px;" class="card-title">{{ figure.title }}</h4>
                        </a>
                    </div>

                    {% if app.user %}
                    <div class="col-1" style:"padding:0px;">
                        <a href="{{ path('tricks_edit', {'slug': figure.slug}) }}"><i class="fa fa-pencil" style="font-size:18px"></i></a>
                    </div>
                    <div class="col-1" style:"padding:0px;">
                        <a onclick="return confirm('Etes-vous sur de vouloir supprimer ?');" href="{{ path('tricks_delete', {'slug': figure.slug}) }}")><i class="fa fa-trash-o" style="font-size:20px"></i></a>
                    </div>
                    {% endif %}

                </div>                
            </div>
        </div>
   {% endfor %}
   
    </div>

{% endblock %}
