{% extends 'base.html.twig' %}

{% block title %}Salut!{% endblock %}

{% block img %} 
       {# <div> #}
        <img  class="container-fluid" src="https://www.rei.com/content/dam/images/Expert%20Advice/Migration/HeroImages/Content_Team_082817_18850_Snowboards_Choose_lg.jpg" style="padding: 0px; border: solid 5px rgb(0, 200, 255);">
        {# </div> #}
{% endblock %}

{% block body %} 

    <div style="display: flex; flex-wrap: wrap;">

    {% for figure in figures %}

        <div class="card" style="max-width:200px; flex-wrap: wrap;margin: 15px 10px 15px 10px;">
        <a href="{{ path('tricks_show', {'id': figure.id}) }}">     <img class="card-img-top" src="{% for visual in figure.visuals %} {{ visual.url }} {% endfor %}"" alt="Card image" style="width:100%">
        </a>
            <div class="card-body">
                <a href="{{ path('tricks_show', {'id': figure.id}) }}">
                <h4 style="width:100%; font-size:14px" class="card-title">{{ figure.title }}
                </a>
                    <div style="text-align:right">
                        <a href="{{ path('tricks_edit', {'id': figure.id}) }}"><i class="fa fa-pencil" style="font-size:18px"></i></a>
                        <a href="#"><i class="fa fa-trash-o" style="font-size:20px"></i></a>
                    </div>
                </h4>
            </div>

        </div>
   {% endfor %}
   
    </div>

{% endblock %}
