{% extends 'base.html.twig' %}

{% block body %}

<article>
    <section style="display:flex; flex-direction:row; justify-content:flex-end;">
    {% for visual in figure.visuals | slice(0, 1) %}
        <img style="max-height: 500px; width:100%; display:flex;" src="{{ visual.url }}" alt="">
        <div style="background-color: #000000; display:flex;">
            <a href="{{ path('tricks_edit', {'slug': figure.slug}) }}"><i class="fa fa-pencil" style="font-size:18px"></i></a>
            <a href="#"><i class="fa fa-trash-o" style="font-size:20px"></i></a>
        </div>
    {% endfor %}
    </section>
    <section style="display:flex; flex-wrap: wrap; flex-direction:row; justify-content:space-between; align-items: center;">
        {% for visual in figure.visuals | slice(1, 10) %}
            {% if (visual.type == 'image') %}
            <img style="max-height: 100px; margin:10px 0px 10px 0px;" src="{{ visual.url }}" alt="">
            {% else %}
            <iframe style="max-height: 100px; max-width: 133.33px; margin:10px 0px 10px 0px;" src="{{ visual.url }}" alt=""></iframe>
            {% endif %}
        {% endfor %}
    </section>

    <h2>{{ figure.title}}</h2>
    <div class="content">
        {{ figure.content | raw }}
        <h4 class="text-center">
          <span title="Date de création" data-toggle="popover" data-trigger="hover" class="badge badge-success">{{ figure.createdAt | date('d/m/Y') }} <small> à {{ figure.createdAt | date('H:i') }}</small></span>
          <span title="Catégorie" data-toggle="popover" data-trigger="hover" class="badge badge-success">{{ figure.category.name }}</span>
          {% if figure.modifiedAt %}
            <span title="Date de modification" data-toggle="popover" data-trigger="hover" class="badge badge-success">{{ figure.modifiedAt | date('d/m/Y') }} <small> à {{ figure.modifiedAt | date('H:i') }}</small></span>
          {% endif %}
        </h4>
    </div>
</article>
<hr>
    <p class="text-center"><input type="text"> &nbsp;&nbsp;<button type="button" class="btn btn-primary">Laisser un commentaire</button></p>
<hr>
<section>
    {% for comment in figure.comments %}
    <div class="container" style="display:flex;">
        <div class="row">
            <div class="col-2" style="display:flex; justify-content: space-around; align-items: center;">
                <span title="{{ comment.author }}" data-toggle="popover" data-trigger="hover"><i class="fa fa-user-circle" style="font-size:36px"></i></span>
            </div>
            <div class="col-10" style="margin-bottom:10px ; border: 2px dashed #31A5E7">
                {{ comment.content|raw }}
            </div>
        </div>
    </div>
    {% endfor %}
</section>
    
{% endblock %}