{% extends 'base.html.twig' %}

{% block body %}

<style>


.containeur {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  }

</style>



<article>
    <section class="row containeur">
        <div class="col-12" style=" padding:0px 0px 0px 0px; justify-content:flex-start;">

        <div class="mt-3" style="position: relative; display: inline-block; width: 100%;">
            <img class="container-fluid img-responsive" style="max-height: 600px; width:100%;" src="{{ figure.headVisual }}">
            <p style="position: absolute; width: 100%; top: 30%; text-align: center; font-size: 60px; color: #007BFF; text-shadow: 2px 2px 1px #000000">{{ figure.title }}</p>

            {% if app.user %}
                <div style="border: 3px solid #007BFF; border-radius: 5px; position: absolute; width: 12%; height: 30px; top: 5%; left: 80%; font-size: 20px; color: #007BFF; box-shadow: 2px 2px 1px #000000">
                    <p><a href="{{ path('head_visual_edit', {'slug': figure.slug}) }}"><i class="fa fa-pencil" style="position: absolute; width: 20%; top: 9%; left: 20%; font-size: 20px; color: #009BFF; text-shadow: 2px 2px 1px #000000"></i></a></p>
                    <p><a href="{{ path('head_visual_delete', {'slug': figure.slug}) }}"><i class="fa fa-trash-o" style="position: absolute; width: 20%; top: 9%; left: 65%; font-size: 20px; color: #007BFF; text-shadow: 2px 2px 1px #000000"></i></a></p>
                </div>            
            {% endif %}

        </div>
    </section>

    <section style="display:flex; flex-wrap: wrap; flex-direction:row; justify-content:space-around; align-items: center; line-height:5px; margin-top: 15px;">
        {% for visual in figure.visuals | slice(0, 10) %}
        <div>

            {% if visual.visualKind == '1' %}
                <iframe style="margin-top:5px;" width="160" height="100" src="{{ visual.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                {% if app.user %}
                <div class="col-6 offset-6" style="display: flex; justify-content: flex-end; border-radius:2px; box-shadow: 1px 1px 5px; margin-top:5px;">
                    <div class="col-1" style:"padding:0px;">
                        <a href="{{ path('visual_edit', {'id': visual.id, 'slug': figure.slug}) }}"><i class="fa fa-pencil" style="font-size:18px"></i></a>
                    </div>
                    <div class="col-1" style:"padding:0px;">
                        <a onclick="return confirm('Etes-vous sur de vouloir supprimer ?');" href="{{ path('visual_delete', {'id': visual.id, 'slug': figure.slug}) }}")><i class="fa fa-trash-o" style="font-size:20px"></i></a>
                    </div>
                </div>
                {% endif %}

            {% else %}
                <a href="{{ visual.url }}">
                    <img style="width: 160px; height: 100px; margin:0px 0px 10px 0px;" src="{{ visual.url }}" alt="">
                </a>
                
                {% if app.user %}
                <div class="col-6 offset-6"  style="display: flex; justify-content: flex-end; border-radius:2px; box-shadow: 1px 1px 5px;">
                    <div class="col-1" style:"padding:0px;">
                        <a href="{{ path('visual_edit', {'id': visual.id, 'slug': figure.slug}) }}"><i class="fa fa-pencil" style="font-size:18px"></i></a>
                    </div>
                    <div class="col-1" style:"padding:0px;">
                        <a onclick="return confirm('Etes-vous sur de vouloir supprimer ?');" href="{{ path('visual_delete', {'id': visual.id, 'slug': figure.slug}) }}")><i class="fa fa-trash-o" style="font-size:20px"></i></a>
                    </div>
                </div>
                {% endif %}
            {% endif %}

        </div>
        {% endfor %}
    </section>

    <h2>{{ figure.title}}</h2>
    <div class="content">
        {{ figure.content|raw }}
        <h4 class="text-center">
          <span title="Date de création" data-toggle="popover" data-trigger="hover" class="badge badge-success">{{ figure.createdAt | date('d/m/Y') }} <small> à {{ figure.createdAt | date('H:i') }}</small></span>
          <span title="Catégorie" data-toggle="popover" data-trigger="hover" class="badge badge-success">{{ figure.category.name }}</span>
          {% if figure.modifiedAt %}
            <span title="Date de modification" data-toggle="popover" data-trigger="hover" class="badge badge-success">{{ figure.modifiedAt | date('d/m/Y') }} <small> à {{ figure.modifiedAt | date('H:i') }}</small></span>
          {% endif %}
        </h4>
    </div>

</article>
<hr>
    {% if app.user %}
        <div class="row text-center">
            <div class="col-6 offset-2" style="height-line:5px">
                {{ form_start(CommentForm) }}
                {{ form_widget(CommentForm.content, {'attr': {
                    'placeholder' : 'Votre commentaire'
                }}) }}
                {{ form_row(CommentForm._token) }}
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Laisser un commentaire</button>
            </div>
        </div>
    {% else %}
        <p>Vous devez être connecté pour commenter.</p>
        <a href="{{ path('security_connexion') }}"><button class="btn btn-primary"><strong style="color:#FFFFFF;">Me connecter</strong></button></a>
    {% endif %}
<hr>


<section>
    {% if figure.comments|length == 0 %}
        <h3>Pas encore de commentaire</h3>
    {% else %}
        <h3>{{ figure.comments|length }} Commentaire(s)</h3>
    {% endif %}
    <br>
    {% for comment in figure.comments %}
    <div class="container">
        <div class="row">
            <div class="col-2 mb-4" style="display:flex; justify-content: space-around; align-items: center;">
                {% if comment.author.avatar.name is defined %}
                <span title="{{ comment.author.username }}" data-toggle="popover" data-trigger="hover"><img style="width:50px; border-radius: 50%;" src="../avatars/{{ comment.author.avatar.name }}"></span>
                {% else %}
                <span title="{{ comment.author.username }}" data-toggle="popover" data-trigger="hover"><i class="fa fa-user-circle" style="width:50px; font-size:48px"></i></span>
                {% endif %}
            </div>
            <div class="col-10 mb-4" style="min-height: 50px; padding:20px; border: 2px dashed #31A5E7">
                {{ comment.content|raw }}
            </div>
        </div>
    </div>
    {% endfor %}
{# {% endif %} #}
</section>
    
{% endblock %}