{% extends 'base.html.twig' %}

{% block body %}

<article>
    <section style="display:flex; flex-direction:row; justify-content:flex-end;">

        <img style="max-height: 700px; width:100%;" src="{{ figure.headVisual }}">

    </section>
    <section style="display:flex; flex-wrap: wrap; flex-direction:row; justify-content:space-around; align-items: center;">
        {% for visual in figure.visuals | slice(0, 10) %}
            {% if visual.visualKind == '1' %}
                <iframe width="178" height="100" src="{{ visual.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
            <a href="{{ visual.url }}">
                <img style="max-height: 100px; margin:10px 0px 10px 0px;" src="{{ visual.url }}" alt="">
            </a>
            {% endif %}
        {% endfor %}
    </section>

    <h2>{{ figure.title}}</h2>
    <div class="content">
        {{ figure.content|raw }}
        <h4 class="text-center">
          <span title="Date de création" data-toggle="popover" data-trigger="hover" class="badge badge-success">{{ figure.createdAt | date('d/m/Y') }} <small> à {{ figure.createdAt | date('H:i') }}</small></span>
          <span title="Catégorie" data-toggle="popover" data-trigger="hover" class="badge badge-success">{{ figure.category.name }}</span>
          {% if figure.modifiedAt %}
            <span title="Date de modification" data-toggle="popover" data-trigger="hover" class="badge badge-success">{{ figure.modifiedAt | date('d/m/Y') }} <small> à {{ figure.modifiedAt | date('H:i') }}</small></span>
          {% endif %}
        </h4>
    </div>
</article>
<hr>
    <p class="text-center"><input type="text"> &nbsp;&nbsp;<button type="button" class="btn btn-primary">Laisser un commentaire</button></p>
<hr>
<section>
{# {% if comment %} #}
    {% for comment in figure.comments %}
    <div class="container" style="display:flex;">
        <div class="row">
            <div class="col-2" style="display:flex; justify-content: space-around; align-items: center;">
                <span title="{{ comment.author }}" data-toggle="popover" data-trigger="hover"><i class="fa fa-user-circle" style="font-size:36px"></i></span>
            </div>
            <div class="col-10" style="margin-bottom:10px ; border: 2px dashed #31A5E7">
                {{ comment.content|raw }}
            </div>
        </div>
    </div>
    {% endfor %}
{# {% endif %} #}
</section>
    
{% endblock %}