{% extends 'base.html.twig' %}

{% block body %}
    
<article>
        <h2>{{ figure.title }}</h2>
        <div class="metadata">Ecrit le {{ figure.createdAt | date('d/m/Y') }} à {{ figure.createdAt | date('H:i') }}, dans la catégorie {{ figure.category.name }}</div>
        <div class="content">
            <img src="{{ figure.image }}" alt="">
            {{ figure.content | raw }}
        </div> 
</article>
    
{% endblock %}